.form-card-position {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  background-color: var(--primary-light);
  display: flex;
  width: 20rem;
  flex-direction: column;
  padding: 2.5rem;
  border: 2px solid var(--primary);
  border-radius: 10px;
}

.form-card .btn {
  margin-top: 2rem;
}

label {
  margin-top: 0.5rem;
  font-weight: bold;
}

input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 2px solid var(--primary);
  border-radius: 5px;
}
