.table-position {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table {
    background-color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 10rem;
    border-radius: 25px;
}